[submodule "proxy-ui"]
	path = proxy-ui
	url = https://github.com/skalenetwork/proxy-ui.git
	branch = beta
[submodule "helper-scripts"]
	path = helper-scripts
	url = https://github.com/skalenetwork/helper-scripts.git
	branch = develop
