version: '3'
services:
  proxy-ui:
    image: proxy-ui:latest
    build:
      context: ./proxy-ui
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
  skale-proxy:
    environment:
      PROXY_FULL_HOST_NAME: ${PROXY_FULL_HOST_NAME}
      ETH_ENDPOINT: ${ENDPOINT}
      ENDPOINT_PREFIX: mainnet
      ABI_FILENAME: abi.json
    image: skale-proxy:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      -  /dev/urandom:/dev/random
      -  ./data:/data
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "4"
    restart: unless-stopped

