{% set aliases = [schain_name] + ([short_alias] if short_alias else []) %}
{% for alias in aliases %}
location /v1/{{ alias }} {
        proxy_http_version 1.1;
        proxy_pass http://{{ schain_name }}/;
    }
location /v1/ws/{{ alias }} {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_pass http://ws-{{ schain_name }}/;
    }
location /fs/{{ alias }} {
        rewrite /fs/{{ alias }}/(.*) /{{ schain_name }}/$1 break;
        proxy_http_version 1.1;
        proxy_pass http://storage-{{ schain_name }}/;
    }
{% endfor %}